#hero {
    background-image: url(../img/jumbotron.jpg);
    background-size: cover;
    height: 25rem;
    .container {
        position: relative;
        height: 100%;
        .ms-btn {
            padding: 1rem 1.875rem;
            min-width: 9.375rem;
            background-color: #0282f9;
            color: white;
            position: absolute;
            bottom: -1.9063rem;
            left: 0;
            font-size: 1.5625rem;
            border: none;
        }
    }
}
